@font-face {
  font-family: 'skarpalt';
  src: url('../fonts/skarpalt.ttf') format('truetype');
}

@font-face {
  font-family: 'pale_blue_eyes';
  src: url('../fonts/pale_blue_eyes.ttf') format('truetype');
}

@font-face {
  font-family: 'avenirlt';
  src: url('../fonts/avenir/AvenirLTStd-Light.otf') format('opentype');
}

body {
  font-family: 'avenirlt' !important;
}
a, a:hover {
  text-decoration: none !important;
}

.font_size8 {
  font-size: 8pt;
}
.font_size9 {
  font-size: 9pt;
}
.font_size10 {
  font-size: 10pt;
}
.font_size11 {
  font-size: 11pt;
}
.font_size12 {
  font-size: 12pt;
}
.font_size13 {
  font-size: 13pt;
}
.font_size14 {
  font-size: 14pt;
}
.font_size15 {
  font-size: 15pt;
}
.font_size16 {
  font-size: 16pt;
}
.font_size17 {
  font-size: 17pt;
}
.font_size18 {
  font-size: 18pt;
}
.font_size19 {
  font-size: 19pt;
}
.font_size20 {
  font-size: 20pt;
}
.font_size21 {
  font-size: 21pt;
}
.font_size22 {
  font-size: 22pt;
}
.font_size23 {
  font-size: 23pt;
}
.font_size24 {
  font-size: 24pt;
}
.font_size25 {
  font-size: 25pt;
}
.font_size26 {
  font-size: 26pt;
}
.font_size27 {
  font-size: 27pt;
}
.font_size28 {
  font-size: 28pt;
}
.font_size29 {
  font-size: 29pt;
}
.font_size30 {
  font-size: 30pt;
}
.font_size31 {
  font-size: 31pt;
}
.font_size32 {
  font-size: 32pt;
}
.font_size33 {
  font-size: 33pt;
}
.font_size34 {
  font-size: 34pt;
}
.font_size35 {
  font-size: 35pt;
}
.font_size36 {
  font-size: 36pt;
}
.font_size37 {
  font-size: 37pt;
}
.font_size38 {
  font-size: 38pt;
}
.font_size39 {
  font-size: 39pt;
}
.font_size40 {
  font-size: 40pt;
}
.font_size41 {
  font-size: 41pt;
}
.font_size42 {
  font-size: 42pt;
}
.font_size43 {
  font-size: 43pt;
}

.bg_white {
  background-color: white;
}
.bg_lightgray {
  background-color: #eee;
}
.bg_darkgrey {
  background-color: #1F2123;
}
.bg_lightblue {
  background-color: #cae9f7;
}
.bg_neonblue {
  background-color: #8cd2e1;
}
.bg_neonblue1 {
  background-color: #94dae9;
}
.bg_lightpurple {
  background-color: #d796f6;
}
.bg_lightpurple1 {
  background-color: #deb1f4;
}
.bg_lightpink {
  background-color: #ff6699;
}
.bg_lightgreen {
  background-color: #6fc6b0;
}
.bg_red {
  background-color: #db2828;
}

.text_shadow_neon_blue {
  text-shadow: 3px 3px 3px #00b4ff;
}
.text_shadow_purple {
  text-shadow: 3px 3px 3px #8A2BE2;
}

.color_white {
  color: white;
}
.color_lightgray {
  color: #eee;
}
.color_darkgrey {
  color: #1F2123;
}
.color_lightblue {
  color: #cae9f7;
}
.color_lightpink {
  color: #ff6699;
}
.color_lightgreen {
  color: #6fc6b0;
}
.color_red {
  color: #db2828;
}
.color_grey {
  color: #4d4d4e;
}

.message_div {
  margin-bottom: 0;
  margin-top: 15px;
}

.no_pad_left_right {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.margin_top0 {
  margin-top: 0 !important;
}
.margin_left10 {
  margin-left: 10px !important;
}
.margin_leftauto {
  margin-left: auto !important;
}


/*lightbox*/
.lightbox {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.lightbox_content {
  display: block;
  float: left;
  min-width: 100px;
  min-height: 100px;
  padding: 20px;
  background-color: white;
}
.lightbox_content_transparent {
  display: block;
  float: left;
  min-width: 100px;
  min-height: 100px;
  padding: 20px;
}
.error_wrapper {
  margin-top: 15px;
}

/*puzzle pieces*/
.pieces_border {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid grey;
}

.pieces_top_left, .pieces_top_left:after {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
}
.pieces_center_left {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
}
.pieces_top_center {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
}
.pieces_center_center {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
}
.pieces_center_left {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
}
.pieces_center_right {
  -webkit-clip-path: polygon(0 0, 24.5% 0, 50% 19.5%, 75% 0, 100% 0, 100% 26%, 100% 40%, 100% 54%, 100% 80.5%, 75% 80.5%, 50% 100%, 24.5% 80.5%, 0 80.5%, 0 60%, 24.5% 40%, 0 19.5%);
  clip-path: polygon(0 0, 24.5% 0, 50% 19.5%, 75% 0, 100% 0, 100% 26%, 100% 40%, 100% 54%, 100% 80.5%, 75% 80.5%, 50% 100%, 24.5% 80.5%, 0 80.5%, 0 60%, 24.5% 40%, 0 19.5%);
}
.pieces_top_right {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 80.5% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 80.5% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
}
.pieces_bottom_center {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 19.5% 50%, 0 24.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 19.5% 50%, 0 24.5%);
}
.pieces_bottom_left {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 0 50%, 0 24.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 0 50%, 0 24.5%);
}
.pieces_bottom_right {
  -webkit-clip-path: polygon(0 0, 24.5% 0, 50% 24.5%, 75% 0, 100% 0, 100% 19.5%, 100% 40%, 100% 60%, 100% 100%, 66% 100%, 51% 100%, 24.5% 100%, 0 100%, 0 75%, 24.5% 50%, 0 24.5%);
  clip-path: polygon(0 0, 24.5% 0, 50% 24.5%, 75% 0, 100% 0, 100% 19.5%, 100% 40%, 100% 60%, 100% 100%, 66% 100%, 51% 100%, 24.5% 100%, 0 100%, 0 75%, 24.5% 50%, 0 24.5%);
}

/*pagination*/
.pagination_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
}
