body {

}

/*landing page design*/

.landing_header1 {
  display: block;
  float: left;
  width: 100%;
  min-height: 100px;
}
.landing_header1 .landing_login_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
}
.landing_header1 .landing_login_bar .landing_navbar_wrapper {
  display: block;
  float: left;
}
.landing_header1 .landing_login_bar .landing_navbar_wrapper .header_item {
  display: block;
  float: left;
  color: inherit;
  padding: 10px 15px;
  transition: all 1s;
}
.landing_header1 .landing_login_bar .landing_navbar_wrapper .header_item:hover {
  border-top: 1px solid black;
}
.landing_header1 .landing_title {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  line-height: 120%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 30pt;
  color: white;
}
.homepage_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #fbfbfb;
}
.homepage_slider .carousel {
  width: 100%;
  height: 100%;
}
.homepage_slider .carousel .carousel-inner {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}
.homepage_slider .carousel .carousel-inner .item {
  width: 100%;
  height: 100%;
}
.homepage_slider .carousel .carousel-inner .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage_slider .carousel .carousel-control {
  background: transparent !important;
}
.landing_item_container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.landing_item_container .title {
  display: block;
  width: 240px;
  word-wrap: break-word;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px 20px 30px;
}
.ui .dimmer {
  display: block;
  width: 100%;
  float: left;
}
.ui .dimmer > .content {
  display: block !important;
  float: left;
  width: 100%;
}
