.pieces_top_left {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
}
.pieces_center_left {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 0 40%, 0 19.5%);
}
.pieces_top_center {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 0, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
}
.pieces_center_center {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 19.5%, 60% 0, 80.5% 0, 80.5% 19.5%, 100% 40%, 80.5% 60%, 80.5% 80.5%, 60% 80.5%, 40% 100%, 19.5% 80.5%, 0 80.5%, 0 60%, 19.5% 40%, 0 19.5%);
}
.pieces_center_right {
  -webkit-clip-path: polygon(0 0, 24.5% 0, 50% 19.5%, 75% 0, 100% 0, 100% 26%, 100% 40%, 100% 54%, 100% 80.5%, 75% 80.5%, 50% 100%, 24.5% 80.5%, 0 80.5%, 0 60%, 24.5% 40%, 0 19.5%);
  clip-path: polygon(0 0, 24.5% 0, 50% 19.5%, 75% 0, 100% 0, 100% 26%, 100% 40%, 100% 54%, 100% 80.5%, 75% 80.5%, 50% 100%, 24.5% 80.5%, 0 80.5%, 0 60%, 24.5% 40%, 0 19.5%);
}
.pieces_top_right {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 80%, 50% 100%, 25% 80%, 0 80%, 0 55%, 24% 40%, 0 24%);
clip-path: polygon(0 0, 100% 0, 100% 80%, 76% 80%, 50% 100%, 23% 80%, 0 80%, 0 60%, 24% 40%, 0 20%);
}
.pieces_bottom_center {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 19.5% 50%, 0 24.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 19.5% 50%, 0 24.5%);
}
.pieces_bottom_left {
  -webkit-clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 0 50%, 0 24.5%);
  clip-path: polygon(0 0, 19.5% 0, 40% 24.5%, 60% 0, 80.5% 0, 80.5% 24.5%, 100% 50%, 80.5% 75%, 80.5% 100%, 54% 100%, 39% 100%, 24.5% 100%, 0 100%, 0 75%, 0 50%, 0 24.5%);
}
.pieces_bottom_right {
  -webkit-clip-path: polygon(0 0, 24.5% 0, 50% 24.5%, 75% 0, 100% 0, 100% 19.5%, 100% 40%, 100% 60%, 100% 100%, 66% 100%, 51% 100%, 24.5% 100%, 0 100%, 0 75%, 24.5% 50%, 0 24.5%);
  clip-path: polygon(0 0, 24.5% 0, 50% 24.5%, 75% 0, 100% 0, 100% 19.5%, 100% 40%, 100% 60%, 100% 100%, 66% 100%, 51% 100%, 24.5% 100%, 0 100%, 0 75%, 24.5% 50%, 0 24.5%);
}
